@model EMailMngSys.Models.UserDetails
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<style>
    h2{
        text-align:center;
    }
    .row{
        margin-top:50px;
        margin-bottom:10px;
    }
   
</style>
<form class="form-group">
    <div class="container">
        <h2>User Ragistration</h2>
        <div class="row">
            <div class="col-lg-3">
                <div>Name: <input class="form-control" value="@Model.Name"  /> </div>
                <div>Contact: <input class="form-control" value="@Model.Contact" /></div>
                <div>Address: <input class="form-control" value="@Model.Address" /></div>
                <div>Email: <input class="form-control" value="@Model.Email" /></div>
                <div>Password: <input class="form-control" value="@Model.Password" /></div><br />
                <button class="btn btn-primary">Submit</button>
            </div>
            
        </div>
    </div>
</form>


